<a href="https://colab.research.google.com/github/chaitanyakolicharamu/ICP_Assignments_Bigdata/blob/main/ICP1_venkata_chaitanya.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [11]:
chars = list(input("Enter the string (e.g. python): ").strip())
# Delete 'o' and 'n' at indexes 4 and 5 (if length allows)
if len(chars) > 5:
    del chars[5]  # delete 'n' at last position
    del chars[4]  # delete 'o' just before last
result = ''.join(chars[::-1])
print("Output:", result)

Enter the string (e.g. python): python
Output: htyp

In [9]:
3
a = float(input("Enter first number: "))
b = float(input("Enter second number: "))

print("Addition:", a + b)
print("Subtraction:", a - b)
print("Multiplication:", a * b)
print("Division:", a / b if b != 0 else "Cannot divide by zero")

Enter first number: 1
Enter second number: 2
Addition: 3.0
Subtraction: -1.0
Multiplication: 2.0
Division: 0.5

In [12]:
sentence = input("Enter a sentence: ")
# Replace 'python' with 'pythons'
new_sentence = sentence.replace("python", "pythons")
print("Updated sentence:", new_sentence)

Enter a sentence: i love python
Updated sentence: i love pythons

In [13]:
score = float(input("Enter your score: "))

# Decide grade based on score
if score >= 90:
    print("Grade: A")
elif score >= 80:
    print("Grade: B")
elif score >= 70:
    print("Grade: C")
elif score >= 60:
    print("Grade: D")
else:
    print("Grade: F")

Enter your score: 25
Grade: F

In [14]:
# Given list
x = [23, 'Python', 23.98]

# Create a list of types
types = [type(item) for item in x]

# Print original list and types
print("List:", x)
print("Types:", types)

List: [23, 'Python', 23.98]
Types: [<class 'int'>, <class 'str'>, <class 'float'>]

In [15]:
# Sets and lists given
IT_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

# 1. Length of IT_companies
print("Number of IT companies:", len(IT_companies))

# 2. Add 'Twitter'
IT_companies.add('Twitter')
print("After adding Twitter:", IT_companies)

# 3. Add multiple companies
IT_companies.update(['LinkedIn', 'Snapchat'])
print("After adding more companies:", IT_companies)

# 4. Remove one company
IT_companies.remove('IBM')  # Use discard if you're unsure
print("After removing IBM:", IT_companies)

# 5. Difference between remove and discard
print("Note: remove() gives error if item not found, discard() does not.")

# 6. Join A and B
print("A union B:", A.union(B))

# 7. Intersection of A and B
print("A intersection B:", A.intersection(B))

# 8. Check if A is a subset of B
print("Is A a subset of B?", A.issubset(B))

# 9. Check if A and B are disjoint
print("Are A and B disjoint?", A.isdisjoint(B))

# 10. Join A with B and B with A
print("A | B:", A | B)
print("B | A:", B | A)

# 11. Symmetric difference between A and B
print("Symmetric difference:", A.symmetric_difference(B))

# 12. Delete sets completely
del A
del B
# print(A)  # Uncommenting will cause an error because A is deleted

# 13. Convert age list to set and compare lengths
age_set = set(age)
print("Length of age list:", len(age))
print("Length of age set:", len(age_set))

Number of IT companies: 7
After adding Twitter: {'Facebook', 'Microsoft', 'Apple', 'Amazon', 'Twitter', 'IBM', 'Oracle', 'Google'}
After adding more companies: {'Google', 'Oracle', 'LinkedIn', 'Twitter', 'Snapchat', 'Apple', 'Amazon', 'IBM', 'Facebook', 'Microsoft'}
After removing IBM: {'Google', 'Oracle', 'LinkedIn', 'Twitter', 'Snapchat', 'Apple', 'Amazon', 'Facebook', 'Microsoft'}
Note: remove() gives error if item not found, discard() does not.
A union B: {19, 20, 22, 24, 25, 26, 27, 28}
A intersection B: {19, 20, 22, 24, 25, 26}
Is A a subset of B? True
Are A and B disjoint? False
A | B: {19, 20, 22, 24, 25, 26, 27, 28}
B | A: {19, 20, 22, 24, 25, 26, 27, 28}
Symmetric difference: {27, 28}
Length of age list: 8
Length of age set: 5