<a href="https://colab.research.google.com/github/chaitanyakolicharamu/ICP_Assignments_Bigdata/blob/main/ICP1_venkata_chaitanya.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [24]:
chars = list(input("Enter the string (e.g. python): ").strip())
if len(chars) > 5:
    del chars[5]
    del chars[4]
result = ''.join(chars[::-1])
print("Output:", result)

Enter the string (e.g. python): venkat
Output: knev

In [25]:
3
a = float(input("Enter first number: "))
b = float(input("Enter second number: "))

print("Addition:", a + b)
print("Subtraction:", a - b)
print("Multiplication:", a * b)
print("Division:", a / b if b != 0 else "Cannot divide by zero")

Enter first number: 7
Enter second number: 9
Addition: 16.0
Subtraction: -2.0
Multiplication: 63.0
Division: 0.7777777777777778

In [26]:
sentence = input("Enter a sentence: ")
new_sentence = sentence.replace("python", "pythons")
print("Updated sentence:", new_sentence)

Enter a sentence: i love to code in python
Updated sentence: i love to code in pythons

In [27]:
score = float(input("Enter your score: "))

if score >= 90:
    print("Grade: A")
elif score >= 80:
    print("Grade: B")
elif score >= 70:
    print("Grade: C")
elif score >= 60:
    print("Grade: D")
else:
    print("Grade: F")

Enter your score: 77
Grade: C

In [28]:

x = [23, 'Python', 2.98]

types = [type(item) for item in x]


print("List:", x)
print("Types:", types)

List: [23, 'Python', 2.98]
Types: [<class 'int'>, <class 'str'>, <class 'float'>]

In [11]:

IT_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]


print("Number of IT companies:", len(IT_companies))


IT_companies.add('Twitter')
print("After adding Twitter:", IT_companies)


IT_companies.update(['LinkedIn', 'Snapchat'])
print("After adding more companies:", IT_companies)


IT_companies.remove('IBM')
print("After removing IBM:", IT_companies)


print("Note: remove() gives error if item not found, discard() does not.")


print("A union B:", A.union(B))


print("A intersection B:", A.intersection(B))


print("Is A a subset of B?", A.issubset(B))


print("Are A and B disjoint?", A.isdisjoint(B))


print("A | B:", A | B)
print("B | A:", B | A)


print("Symmetric difference:", A.symmetric_difference(B))


del A
del B



age_set = set(age)
print("Length of age list:", len(age))
print("Length of age set:", len(age_set))

Number of IT companies: 7
After adding Twitter: {'Oracle', 'Apple', 'Twitter', 'Google', 'Microsoft', 'IBM', 'Facebook', 'Amazon'}
After adding more companies: {'Oracle', 'Snapchat', 'LinkedIn', 'IBM', 'Apple', 'Google', 'Microsoft', 'Twitter', 'Facebook', 'Amazon'}
After removing IBM: {'Oracle', 'Snapchat', 'LinkedIn', 'Apple', 'Google', 'Microsoft', 'Twitter', 'Facebook', 'Amazon'}
Note: remove() gives error if item not found, discard() does not.
A union B: {19, 20, 22, 24, 25, 26, 27, 28}
A intersection B: {19, 20, 22, 24, 25, 26}
Is A a subset of B? True
Are A and B disjoint? False
A | B: {19, 20, 22, 24, 25, 26, 27, 28}
B | A: {19, 20, 22, 24, 25, 26, 27, 28}
Symmetric difference: {27, 28}
Length of age list: 8
Length of age set: 5

## üìΩÔ∏è Demo Video

You can view the demo video for this assignment at the link below:

üîó [Watch Demo Video](https://drive.google.com/file/d/1zYglrgaZb23Pnpn96u4g3YKJF6oNIV7C/view)